<strong>Olá, {{ deliveryman }}</strong>
<p>A encomenda já está disponível para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
</p>
