<strong>Olá, {{ deliverymanName }}</strong>
<p>A encomenda já está disponível para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ productName }} <br />
  <strong>Destinatário: </strong> {{ recipientName }} <br />
  <br />
</p>
